apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: argocd
helmCharts:
  - name: argo-cd
    repo: https://argoproj.github.io/argo-helm
    version: 6.7.12
    releaseName: argocd
    namespace: argocd
    valuesFile: values.yaml
resources:
  - argo-cm.yaml
  - apps/gatekeeper.yaml
  - apps/gatekeeper-policies.yaml
